* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/pexels-visually-us-1643409.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: start;
    width: 50vw;
    color: rgba(240, 248, 255, 0.633);
    margin: 24px 0px;
}




/* Add a note starts here */


.note {

    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.633);
    width: auto;
    padding: 10px;
    margin-bottom: 24px;
    

}

.addanote {
    color: rgba(240, 248, 255, 0.689);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 23px;
    margin-top: 32px;
}

.textarea {
    background-color: rgba(240, 248, 255, 0.633);
    width: 50vw;
    display: block;
    margin: 13px 0px;
}

#addbtn {
    width: 74px;
    height: 33px;
    
}


/* Add a note ends here */



hr {
    width: 52vw;
    border: 1px solid gainsboro;
}



/* Inner-notes starts here */


.notes {

    width: 55vw;
    display: flex;
    flex-wrap: wrap;
   
}

.div1 {
    width: 187px;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.633);
    min-height: 100px;
    height: auto;
    border: 1px solid black;
    margin: 10px;
}
h3{
    
    padding: 10px;
}
.innernotes {
    padding: 0px 9px;
    max-width: 187px;
    min-height: 80px;
    height: auto;
  
}

.b{
    margin: 8px;
    height: 31px;
    width: 59px;
}

/*Inner-notes ends here */